body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

a:hover {
  filter: brightness(80%);
}

a,
a:active,
a:visited {
  text-decoration: none;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 3em;
}

#about {
  background-image: url(images/DestanSarpkaya.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

#nameContainer {
  color: white;
}

#details {
  background: #556985;
  color: white;
  padding: 50px 0;
  text-align: center;
}

#details>div {
  max-width: 950px;
  margin: auto;
  text-align: left;
}

#details a,
#details a:active,
#details a:hover,
#details a:visited {
  color: blanchedalmond;
}

#details li {
  margin-bottom: 10px;
}

#details .tab-content {
  font-size: 1.3rem;
}

#lifeTimeline {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0)), url(images/family.jpg) center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  position: relative;
}

#lifeTimeline div>span {
  display: block;
  color: white;
}

#lifeTimeline .empty {
  margin-left: 43px;
}

#lifeTimeline .love {
  color: firebrick;
}

#lifeTimeline .job {
  color: #1E81F5;
}

#lifeTimeline .wolf {
  font-size: 12px;
  margin-left: -2px;
}

#lifeTimeline a,
#lifeTimeline a:active,
#lifeTimeline a:hover,
#lifeTimeline a:visited {
  color: white;
  font-weight: bold;
}

#contact {
  background: #F6F8FA;
  padding: 20px 0;
  text-align: center;
}

#contact>div {
  color: #959DA5;
  margin-bottom: 10px;
}

#contact a>img {
  filter: invert(71%) sepia(15%) saturate(189%) hue-rotate(169deg) brightness(86%) contrast(86%);
  margin-right: 15px;
}

/* ==================== */
/* X-Small devices (portrait phones, less than 576px) */

#about {
  text-align: center;
}

#nameContainer {
  font-size: 0.9rem;
  padding-top: 50px;
}

@media (min-width: 375px) {
  #nameContainer {
    font-size: 1rem;
  }

  #lifeTimeline>div {
    font-size: 1.1rem;
  }

  #lifeTimeline .empty {
    margin-left: 47px;
  }
}

@media (min-width: 450px) {
  #lifeTimeline>div {
    font-size: 1.3rem;
  }

  #lifeTimeline .empty {
    margin-left: 55px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #about {
    text-align: start;
  }

  #nameContainer {
    padding-top: 150px;
    padding-left: 50px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #nameContainer {
    padding-top: 250px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #nameContainer {
    padding-top: 450px;
  }
}


/* Accordion  */

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
}

.row .col {
  flex: 1;
}

.row .col:last-child {
  margin-left: 1em;
}

.tabs {
  overflow: hidden;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

.tab-label {
  display: flex;
  justify-content: left;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.4rem;
}

.tab-label:hover {
  background: #4c5e77;
}

.tab-label::before {
  content: "▶";
  width: 2em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: white;
  transition: all 0.35s;
}

.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: blue;
  cursor: pointer;
}

.tab-close:hover {
  background: yellow;
}

input:checked + .tab-label {
  background: #4c5e77;
}

input:checked + .tab-label::before {
  transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
